@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9740 0.0054 17.2492);
  --foreground: oklch(0.3080 0.0890 20.2706);
  --card: oklch(0.9740 0.0054 17.2492);
  --card-foreground: oklch(0.3080 0.0890 20.2706);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3080 0.0890 20.2706);
  --primary: oklch(0.6159 0.0921 70.6778);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8803 0.0413 38.7253);
  --secondary-foreground: oklch(0.4251 0.1004 18.1544);
  --muted: oklch(0.9413 0.0158 32.0102);
  --muted-foreground: oklch(0.4751 0.0914 16.4718);
  --accent: oklch(0.8803 0.0413 38.7253);
  --accent-foreground: oklch(0.4251 0.1004 18.1544);
  --destructive: oklch(0.7120 0.1217 106.9596);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8502 0.0532 24.0422);
  --input: oklch(0.8648 0.0341 43.4846);
  --ring: oklch(0.7042 0.1439 66.1477);
  --chart-1: oklch(0.6275 0.1692 41.7296);
  --chart-2: oklch(0.5135 0.1990 1.5878);
  --chart-3: oklch(0.3117 0.0788 294.7186);
  --chart-4: oklch(0.8460 0.1866 137.7549);
  --chart-5: oklch(0.8941 0.1883 130.0084);
  --sidebar: oklch(0.9341 0.0200 6.0006);
  --sidebar-foreground: oklch(0.5553 0.1303 53.7794);
  --sidebar-primary: oklch(0.4114 0.0314 326.1296);
  --sidebar-primary-foreground: oklch(0.9710 0.0076 48.6550);
  --sidebar-accent: oklch(0.9781 0.0017 145.5621);
  --sidebar-accent-foreground: oklch(0.4114 0.0314 326.1296);
  --sidebar-border: oklch(0.9415 0.0041 121.5632);
  --sidebar-ring: oklch(0.7042 0.1439 66.1477);
  --font-sans: Inter, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 1rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.24rem;

  --gradient-noise-top: 292 42.9% 93.1%;
  --color-heading: 336.3 70.3% 19.8%;
  --chat-border: 304.8 61% 83.9%;
  --chat-background: 300 56% 98%;
  --chat-accent: #f5ecf9;
  --chat-input-gradient: 295 100% 90%;
  --chat-input-background: hsla(270, 0%, 100%, var(--blur-fallback, 0.1));
  --chat-overlay: hsla(309, 63%, 92%, var(--blur-fallback, 0.72));
  --wordmark-color: #ca0277;

  --shiki-foreground: rgb(108, 76, 188);
  --shiki-background: rgb(103, 60, 139);
  --shiki-token-constant: rgb(210, 98, 108);
  --shiki-token-string: rgb(72, 126, 112);
  --shiki-token-comment: rgb(72, 126, 112);
  --shiki-token-keyword: rgb(197, 20, 120);
  --shiki-token-parameter: rgb(103, 60, Classics, History, Culture139);
  --shiki-token-function: rgb(108, 76, 188);
  --shiki-token-string-expression: rgb(72, 126, 112);
  --shiki-token-link: rgb(210, 98, 108);
  --shiki-ansi-black: rgb(103, 60, 139);
  --shiki-ansi-black-dim: rgba(103, 60, 139, 0.5);
  --shiki-ansi-red: rgb(210, 98, 108);
  --shiki-ansi-red-dim: rgba(210, 98, 108, 0.5);
  --shiki-ansi-green: rgb(72, 126, 112);
  --shiki-ansi-green-dim: rgba(72, 126, 112, 0.5);
  --shiki-ansi-yellow: rgb(210, 98, 108);
  --shiki-ansi-yellow-dim: rgba(210, 98, 108, 0.5);
  --shiki-ansi-blue: rgb(108, 76, 188);
  --shiki-ansi-blue-dim: rgba(108, 76, 188, 0.5);
  --shiki-ansi-magenta: rgb(197, 20, 120);
  --shiki-ansi-magenta-dim: rgba(197, 20, 120, 0.5);
  --shiki-ansi-cyan: rgb(72, 126, 112);
  --shiki-ansi-cyan-dim: rgba(72, 126, 112, 0.5);
  --shiki-ansi-white: rgb(210, 98, 108);
  --shiki-ansi-white-dim: rgba(210, 98, 108, 0.5);
  --shiki-ansi-bright-black: rgb(103, 60, 139);
  --shiki-ansi-bright-black-dim: rgba(103, 60, 139, 0.5);
  --shiki-ansi-bright-red: rgb(210, 98, 108);
  --shiki-ansi-bright-red-dim: rgba(210, 98, 108, 0.5);
  --shiki-ansi-bright-green: rgb(72, 126, 112);
  --shiki-ansi-bright-green-dim: rgba(72, 126, 112, 0.5);
  --shiki-ansi-bright-yellow: rgb(210, 98, 108);
  --shiki-ansi-bright-yellow-dim: rgba(210, 98, 108, 0.5);
  --shiki-ansi-bright-blue: rgb(108, 76, 188);
  --shiki-ansi-bright-blue-dim: rgba(108, 76, 188, 0.5);
  --shiki-ansi-bright-magenta: rgb(197, 20, 120);
  --shiki-ansi-bright-magenta-dim: rgba(197, 20, 120, 0.5);
  --shiki-ansi-bright-cyan: rgb(72, 126, 112);
  --shiki-ansi-bright-cyan-dim: rgba(72, 126, 112, 0.5);
  --shiki-ansi-bright-white: rgb(210, 98, 108);
  --shiki-ansi-bright-white-dim: rgba(210, 98, 108, 0.5);
}

.dark {
  --background: oklch(0.2478 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.3407 0 0);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.2478 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(1.0000 0 0);
  --primary-foreground: oklch(0.1638 0 0);
  --secondary: oklch(0.3092 0 0);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3325 0.0017 106.4931);
  --muted-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.3329 0 0);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.2505 0.0408 43.9869);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4341 0.0039 17.3086);
  --input: oklch(0.1822 0 0);
  --ring: oklch(0.5411 0.0031 106.5013);
  --chart-1: oklch(0.5382 0 0);
  --chart-2: oklch(0.2150 0.0025 325.6623);
  --chart-3: oklch(0.4077 0.0121 125.9455);
  --chart-4: oklch(0.3055 0.0107 358.5494);
  --chart-5: oklch(0.3763 0.0108 84.5932);
  --sidebar: oklch(0.2090 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3092 0 0);
  --sidebar-accent-foreground: oklch(0.9682 0.0017 325.5904);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(1.0000 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 1rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --gradient-noise-top: 309 15% 9%;
  --color-heading: 328.2 45.9% 57.3%;
  --chat-border: 333.3 22% 16.1%;
  --chat-background: 270 16.13% 12.16%;
  --chat-accent: rgba(25, 21, 30, 0.86);
  --chat-input-gradient: 289 23% 23%;
  --chat-input-background: hsla(270, 10%, 20%, var(--blur-fallback, 0.4));
  --chat-overlay: hsla(270, 12%, 16%, var(--blur-fallback, 0.71));
  --wordmark-color: #e3bad1;


  --shiki-foreground: rgb(210, 199, 225);
  --shiki-background: rgb(29, 25, 33);
  --shiki-token-constant: rgb(255, 188, 158);
  --shiki-token-string: rgb(150, 208, 187);
  --shiki-token-comment: rgb(122, 100, 131);
  --shiki-token-keyword: rgb(248, 136, 181);
  --shiki-token-parameter: rgb(150, 208, 187);
  --shiki-token-function: rgb(186, 164, 237);
  --shiki-token-string-expression: rgb(150, 208, 187);
  --shiki-token-link: rgb(248, 136, 181);
  --shiki-ansi-black: rgb(122, 100, 131);
  --shiki-ansi-black-dim: rgba(122, 100, 131, 0.5);
  --shiki-ansi-red: rgb(248, 136, 181);
  --shiki-ansi-red-dim: rgba(248, 136, 181, 0.5);
  --shiki-ansi-green: rgb(150, 208, 187);
  --shiki-ansi-green-dim: rgba(150, 208, 187, 0.5);
  --shiki-ansi-yellow: rgb(255, 188, 158);
  --shiki-ansi-yellow-dim: rgba(255, 188, 158, 0.5);
  --shiki-ansi-blue: rgb(186, 164, 237);
  --shiki-ansi-blue-dim: rgba(186, 164, 237, 0.5);
  --shiki-ansi-magenta: rgb(248, 136, 181);
  --shiki-ansi-magenta-dim: rgba(248, 136, 181, 0.5);
  --shiki-ansi-cyan: rgb(150, 208, 187);
  --shiki-ansi-cyan-dim: rgba(150, 208, 187, 0.5);
  --shiki-ansi-white: rgb(210, 199, 225);
  --shiki-ansi-white-dim: rgba(210, 199, 225, 0.5);
  --shiki-ansi-bright-black: rgb(122, 100, 131);
  --shiki-ansi-bright-black-dim: rgba(122, 100, 131, 0.5);
  --shiki-ansi-bright-red: rgb(248, 136, 181);
  --shiki-ansi-bright-red-dim: rgba(248, 136, 181, 0.5);
  --shiki-ansi-bright-green: rgb(150, 208, 187);
  --shiki-ansi-bright-green-dim: rgba(150, 208, 187, 0.5);
  --shiki-ansi-bright-yellow: rgb(255, 188, 158);
  --shiki-ansi-bright-yellow-dim: rgba(255, 188, 158, 0.5);
  --shiki-ansi-bright-blue: rgb(186, 164, 237);
  --shiki-ansi-bright-blue-dim: rgba(186, 164, 237, 0.5);
  --shiki-ansi-bright-magenta: rgb(248, 136, 181);
  --shiki-ansi-bright-magenta-dim: rgba(248, 136, 181, 0.5);
  --shiki-ansi-bright-cyan: rgb(150, 208, 187);
  --shiki-ansi-bright-cyan-dim: rgba(150, 208, 187, 0.5);
  --shiki-ansi-bright-white: rgb(210, 199, 225);
  --shiki-ansi-bright-white-dim: rgba(210, 199, 225, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-gradient-noise-top: hsl(var(--gradient-noise-top));
  --color-color-heading: hsl(var(--color-heading));
  --color-chat-border: hsl(var(--chat-border));
  --color-chat-background: hsl(var(--chat-background));
  --color-chat-accent: var(--chat-accent);
  --color-chat-input-gradient: hsl(var(--chat-input-gradient));
  --color-chat-input-background: var(--chat-input-background);
  --color-chat-overlay: var(--chat-overlay);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@media (max-width: 768px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
.button-reflect {
  --min: #2e001f40 !important;
  --start: #000000d9 !important;
}

.border-reflect {
  --c: 320 100% 75%;
  --min: hsl(var(--c) / 0.2);
  --max: hsl(var(--c) / 1);
  --gradientBorder-gradient: linear-gradient(
      180deg,
      var(--min),
      var(--max),
      var(--min)
    ),
    linear-gradient(15deg, var(--min) 50%, var(--max));
  --opacity: 1;
  --start: rgba(0, 0, 0, 0.85);
  position: relative;
}

.boring-dark .border-reflect,
.dark .border-reflect {
  --gradientBorder-gradient: linear-gradient(
      180deg,
      #93335b00,
      #93335bbd,
      #93335b17
    ),
    linear-gradient(15deg, #93335b1f 50%, #93335bbd);
  --start: rgba(0, 0, 0, 0.92);
}

.border-reflect:before {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: var(--gradientBorder-size, 1px);
  background: var(--gradientBorder-gradient);
  -webkit-mask: linear-gradient(var(--start), #000) content-box,
    linear-gradient(var(--start), #000);
  mask: linear-gradient(var(--start), #000) content-box,
    linear-gradient(var(--start), #000);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: var(--opacity, 1);
}

@supports (not (backdrop-filter: blur())) and (not (overscroll-behavior: auto)) {
  :root {
    --blur-fallback: 1;
  }
}
@media (max-width: 767px) and (any-pointer: coarse) {
  .min-h-pwa,
  body,
  html {
    overscroll-behavior-y: none;
  }
}

#chat-input,
.edit-input {
  field-sizing: content;
}

.prose-pink {
  color: var(--color-foreground);
  strong {
    color: var(--color-foreground);
  }
  :not(pre) > code {
    font-family: var(--font-berkeley-mono);
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: var(--color-foreground);
    background-color: hsl(var(--secondary) / 0.5);
    border-radius: calc(var(--radius) - 2px);
    padding: 0.25em 0.5em;
  }
}

.mark-response pre {
  background-color: var(--color-background) !important;
  padding: 1rem;
  font-size: 0.9em;
  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-berkeley-mono) !important;
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: var(--color-foreground) !important;
  }
}

code {
  background-color: var(--color-background) !important;
}

.mark-response pre,
pre code {
  background-color: transparent !important;
  font-family: var(--font-berkeley-mono) !important;
  padding: 0 !important;
}

span {
  white-space-collapse: unset !important;
}

.messageLoader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 var(--color-accent), -20px 0 var(--color-secondary/50);
    background: var(--color-accent);
  }
  33% {
    box-shadow: 20px 0 var(--color-accent), -20px 0 var(--color-secondary/50);
    background: var(--color-secondary/50);
  }
  66% {
    box-shadow: 20px 0 var(--color-secondary/50), -20px 0 var(--color-accent);
    background: var(--color-secondary/50);
  }
  100% {
    box-shadow: 20px 0 var(--color-secondary) / 50, -20px 0 var(--color-accent);
    background: var(--color-accent);
  }
}

button{
  cursor: pointer !important;
}

/* Hide t3-tool-loader when t3-tool-output exists in the same container */
.mark-response:has(.t3-tool-output) .t3-tool-loader {
  display: none !important;
}

/* Alternative: Hide t3-tool-loader when it's followed by any sibling t3-tool-output */
.t3-tool-loader:has(~ .t3-tool-output) {
  display: none !important;
}

.t3-tool-loader:has(~ p:not(:empty)) {
  display: none !important;
}

@layer base {
  .animate-bounce-dot {
    animation: bounce-dot 1.4s infinite ease-in-out both;
  }

  .animate-delay-1 {
    animation-delay: -0.32s;
  }

  .animate-delay-2 {
    animation-delay: -0.16s;
  }
  @keyframes bounce-dot {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }

  /* Line clamp utilities */
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.t3-websearch a {
  display: block !important;
}

.TooltipContent {
  animation: showTooltip 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes showTooltip {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.mark-response * {
  color: var(--color-foreground);
}
.mark-response pre {
  color: initial !important;
}